* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, blue, rgb(56, 56, 199));
}

form {
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgb(121, 44, 172);
}

form .titulo {
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color:  olivedrab;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: aqua;
    border-bottom: solid 1px rebeccapurple;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: gray;
}

form .link {
    color: grey;
    margin-bottom: 15px;
}

form button {
    color:  wheat;
    border: none;
    background: linear-gradient(to right, blue, rgb(56, 56, 199));
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
}
